{% set userCanViewSpecimens = is_granted('ROLE_SPECIMEN_VIEW') %}
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Specimen</th>
        <th>Position</th>
    </tr>
    </thead>
    <tbody>
    {% for well in wells %}
        <tr>
            <td>
                {% if userCanViewSpecimens %}
                    <a href="{{ path('app_specimen_view', {accessionId: well.specimen.accessionId}) }}">{{ well.specimen.accessionId }}</a>
                {% else %}
                    {{ well.specimen.accessionId }}
                {% endif %}
            </td>
            <td>{{ well.positionAlphanumeric }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
