<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Specimen ID</th>
        <th>Conclusion</th>
        <th>RNA Well Position</th>
        <th>RNA Well Plate Barcode</th>
    </tr>
    </thead>

    <tbody>
    {% for result in results  %}
        <tr>
            <td>{{ result.specimenAccessionId }}</td>
            <td>{{ result.conclusion }}</td>
            <td>{{ result.wellPosition }}</td>
            <td>{{ result.wellPlateBarcode }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
