{% extends 'base.html.twig' %}

{% block page_title %}
    {% if new %} New Result {% else %} Edit Result {{ result.id }} {% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
