{% extends 'base.html.twig' %}
{% set userCanEditResults = is_granted('ROLE_RESULTS_EDIT') %}

{% block page_title %}Results{% endblock %}

{% block body %}
{% if userCanEditResults %}
<div class="row margin-bottom">
    <div class="col-md-12">
        <div class="pull-left">
            {{ form(filterForm) }}
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                {% include('results/qpcr/list-table.html.twig') %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
