{% extends 'base.html.twig' %}

{% block page_title %}Results{% endblock %}

{% block body %}
<div class="row margin-bottom">
    <div class="col-md-12">
        <div class="pull-right">
            <a href="{{ path('app_results_qpcr_new') }}" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> New Result</a>
            <a href="{{ path('qpcr_excel_import') }}" class="btn btn-primary"><i class="fa fa-fw fa-upload"></i> Import from Excel</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                {% include('results/qpcr/list-table.html.twig') %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
