{% extends 'base.html.twig' %}
{#
Optional Variables

    itemLabel - human-readable label for what is being imported, eg. "Participant Groups"
#}

{% block page_title %}Import {{itemLabel | default("From Excel")}}{% endblock %}

{% block body %}

    {% if errors is defined and errors|length > 0 %}
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Upload Errors</h3>
            </div>
            <div class="box-body">
                <p>Could not complete upload:</p>

                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {{ form(importForm) }}

{% endblock %}