<div class="box box-warning">
    <div class="box-header with-border">
        <h4><i class="fa fa-exclamation-triangle text-yellow"></i> Multiple Worksheets Detected</h4>
    </div>

    <div class="box-body">
        <p>Only reading the first Worksheet <code>{{ importer.worksheetTitle }}</code></p>
        <p>If data appears wrong, move the desired worksheet to the far-left first position in Excel and upload again.</p>
        <p><a href="javascript:history.go(-1);" class="btn btn-default">Upload Again</a></p>
    </div>
</div>

<div class="alert alert-warning" role="alert">
    <h4><i class="fa fa-exclamation-triangle text-white"></i> Multiple Worksheets Detected</h4>

    <p>Only reading the first Worksheet <code>{{ importer.worksheetTitle }}</code></p>
    <p>If data appears wrong, move the desired worksheet to the far-left first position in Excel and upload again.</p>

    <p><a href="javascript:history.go(-1);" class="btn btn-primary">Upload Again</a></p>
</div>
