{% extends 'base.html.twig' %}

{% block page_title %}Publish Queued Results{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-bullhorn"></i> Publish Queued Results</h3>
                </div>
                <div class="box-body">
                    <p>Publishing queued results will send all results in the "Queued" status to ServiceNow which will notify participants.</p>
                </div>
                <div class="box-footer">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

    {% if command_output is not empty %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="callout callout-info">
                    <h4><i class="icon fa fa-code"></i> Command Output</h4>
                    <pre class="bg-black">{{ command_output|raw }}</pre>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}