body {
    background-color: lightgray;
}

.label-preview {
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.navbar-nav > li.text {
    padding: 10px 15px;
    line-height: 20px;
}

.main-header .logo img {
    height: 100%;
    vertical-align: bottom;
    padding: .5em 0;
}

.main-header .navbar-brand img {
    height: 100%;
    vertical-align: bottom;
    display: inline;
}


.login-box .login-logo img {
    width: 48px;
    position: relative;
    top: -4px;
}

.btn-radio-group-raw-field {
    opacity: 0;
    height: 0;
    padding: 0;
}

.collection-date-widget, .collection-time-widget {
    text-align:center;
}

.collection-date-widget .control-label,
.collection-time-widget .control-label {
    display:block
}

#tubeContinueButtons {
    margin-top: 1.5em;
}

.question-icon-help {
    color:#3c8dbc;
}

.filter-header-row select {
    padding-left:6px;
}
.filter-header-row .filter-with-value {
    background-color: #fcf8e3;
}

.nowrap-cell {
    white-space: nowrap;
}
