<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th class="text-right" style="width: 75px;">Row #</th>
        <th>Accession ID</th>
        <th>Group Name</th>
        <th># Participants</th>
    </tr>
    </thead>

    <tbody>
    {% for group in importer.output  %}
        <tr>
            <td class="text-right">{{ loop.index0 + importer.startingRow }}</td>
            <td>{{ group.accessionId }}</td>
            <td>{{ group.title }}</td>
            <td>{{ group.participantCount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>