<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Accession ID</th>
        <th>Title</th>
        <th># Participants</th>
    </tr>
    </thead>

    <tbody>
    {% for group in groups  %}
        <tr>
            <td>{{ group.accessionId }}</td>
            <td>{{ group.title }}</td>
            <td>{{ group.participantCount }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>