<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Group Title</th>
        <th># Participants</th>
        <th>Publish Results to Web Hooks?</th>
    </tr>
    </thead>

    <tbody>
    {% for group in groups  %}
        <tr>
            <td>{{ group.title }}</td>
            <td>{{ group.participantCount }}</td>
            <td>{{ group.isEnabledForResultsWebHooks ? 'Yes' : 'No' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>