{% extends 'base.html.twig' %}

{% block page_title %}Import Preview{% endblock %}

{% block body %}

    <dl>
        <dt>Importing From</dt>
        <dd>{{ importingWorkbook.filename }}</dd>
    </dl>

    <form method="post" action="{{ path('group_excel_import_commit', { importId: importId }) }}" class="margin-bottom">
        <input type="submit" value="Create Participant Groups" class="btn btn-primary"/>
    </form>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">

                    {% include 'participantGroup/excel-import-table.html.twig' with { groups: importer.participantGroups }%}

                </div>
            </div>
        </div>
    </div>

    <form method="post" action="{{ path('group_excel_import_commit', { importId: importId }) }}" class="margin-top">
        <input type="submit" value="Create Participant Groups" class="btn btn-primary"/>
    </form>
{% endblock %}