{% extends 'base.html.twig' %}

{% block page_title %}Kiosks{% endblock %}

{% block body %}
    <div class="row margin-bottom">
        <div class="col-md-12">
            <div class="pull-right">
                <a href="{{ path('kiosk_admin_new') }}" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> New Kiosk</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body table-responsive">
                    {% include('kiosk-admin/kiosk-admin-table.html.twig') %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
