{% extends 'base.html.twig' %}

{% block page_title %}
    {% if kiosk is empty %} New Kiosk {% else %} Edit <strong>{{ kiosk.label }}</strong> {% endif %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form(form, {
                        'attr': {
                            'autocomplete': 'off',
                        }
                    }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
