{% extends 'base.html.twig' %}

{% block page_title %}Wellplates{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <a href="{{ path('app_wellplate_new') }}" class="btn btn-primary pull-right"><i class="fa fa-fw fa-plus"></i> New Wellplate</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                {% include('wellplate/wellplate-list-table.html.twig') %}
            </div>
        </div>
    </div>
</div>

{% endblock %}