{% extends 'base.html.twig' %}

{% block page_title %}Import Saved{% endblock %}

{% block body %}
    {% include 'checkin/blood/excel-import-summary-widgets.html.twig' %}

    <a class="btn btn-primary" href="{{ path('checkin_queue') }}">Return to Check-in Queue</a>
{% endblock %}
