{% block body %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 2em;">ID</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
    {% for sample in samples %}
        <tr>
            <td>
                <a href="{{ path('app_sample_update', {id: sample.id}) }}">{{ sample.id }}</a>
            </td>
            <td>{{ sample.title }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}