<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Tube Accession ID</th>
        <th>Well Plate</th>
        <th>Well Position</th>
    </tr>
    </thead>

    <tbody>
    {% for coordinates in wellPlateCoordinates  %}
        <tr>
            <td>{{ coordinates.tubeAccessionId }}</td>
            <td>{{ coordinates.rnaWellPlateId }}</td>
            <td>{{ coordinates.rnaWellPosition }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
