{% extends 'kiosk/kiosk-base.html.twig' %}
{% block page_title %}COVIDTrack Kiosk{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Your drop off has been cancelled.
                </h2>
                <p>
                    Returning to drop off interface...
                </p>

            </div>
        </div>
    </div>

    <script>
        setTimeout(function() {
            location.href = {{ path('kiosk_index') }};
        }, 5000);
    </script>

{% endblock %}
