{% extends 'kiosk/kiosk-base.html.twig' %}
{% block page_title %}COVIDTrack Kiosk{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" style="background:transparent;">
                {% block complete_message %}
                <h2>Thank you for dropping off your kit!</h2>
                <p>Returning to home screen&hellip;</p>
                {% endblock %}
            </div>
        </div>
    </div>

    <script>
        setTimeout(function() {
            location.href = {{ path('kiosk_index') }};
        }, 5000);
    </script>

{% endblock %}
