{% extends 'kiosk/kiosk-base.html.twig' %}
{#
todo: ios doesn't allow playing audio until the user has interacted with the page somehow
    If we want to enable a "successful scan" beep we'll need to:
        - have some kind of "start scanning" button for a kiosk admin to click
        - use ajax calls so we never leave the page (since that would reset the permission)
#}

{% block page_title %}COVIDTrack Kiosk{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_row(form.participantGroup, {'label': false, 'placeholder': 'Select Group here or Scan Group barcode using kiosk scanner'}) }}
            {{ form_end(form) }}
        </div>
    </div>

    {% block scan_help %}
    {% include 'kiosk/scan-help.html.twig' with {
        scanTipHtml: 'Scan Group barcode<br>below the screen'
    }%}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        // What to do when scanner input
        $(document).on( "scannerinput", function(e, inputString) {
            if ($("option:contains(" + inputString + ")", "[data-scanner-input]").length === 0) {
                console.log('Not an option');
                return;
            }

            let selection = "";
            selection = $("option:contains(" + inputString + ")", "[data-scanner-input]").val();

            $("[data-scanner-input]").val(selection);
            $("[data-scanner-input]").parents('form').submit();
        });
    </script>
{% endblock %}