<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}COVIDTrack Kiosk{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <style>
        .content-wrapper {
            margin-left: 0;
        }
    </style>
</head>
<body class="hold-transition skin-blue">

<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="{{ path('kiosk_index') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>C</b>Trk</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>COVID</b>Track</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Navbar Right Menu -->
        </nav>
    </header>

    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            {% block body %}{% endblock %}
        </section>
    </div>
</div>
</body>
</html>
