<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}COVIDTrack Kiosk{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <style>
        .content-wrapper {
            margin-left: 0;
        }
    </style>
</head>
<body class="hold-transition skin-blue">

<div class="wrapper">
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            {% block body %}{% endblock %}
        </section>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
