{% extends 'kiosk/tube-input.html.twig' %}

{% block header_buttons %}
    <div class="pull-right" id="buttons-before-tube-entered">
        {{ _self.renderCancelButton() }}
    </div>
{% endblock %}

{% block body_content %}
    <div class="box">
        {% include 'kiosk/review-table.html.twig' with {tubeData: tubeData} %}
    </div>

    <div class="row">
        <div class="col-xs-6 text-right">
            <a href="{{ path('kiosk_add_tube', {'id':kioskSession.id}) }}" class="btn btn-default">
                <i class="fa fa-fw fa-plus"></i> Add another tube
            </a>
        </div>
        <div class="col-xs-6">
            {{ form(finishButtonForm) }}
        </div>
    </div>

{% endblock %}

{% block scan_help %}
    {# Overridden to not display #}
{% endblock %}
