{% extends 'kiosk/tube-input.html.twig' %}

{% block page_title %}COVIDTrack Kiosk{% endblock %}

{% block header_buttons %}
    <div class="pull-right" id="buttons-before-tube-entered">
        {{ _self.renderCancelButton() }}
    </div>
{% endblock %}

{% block body_content %}
    <div class="text-center" style="margin-top: 10rem;">
        <h2 style="margin-bottom: 1em;"><i class="fa fa-fw fa-vial"></i> Do you have another tube to scan?</h2>
    </div>

    <div class="row text-center">
        <div class="col-xs-4 col-xs-offset-2">
            <a href="{{ path('kiosk_add_tube', {'id':kioskSession.id}) }}" class="btn btn-success btn-lg btn-block">
                Yes
            </a>
        </div>
        <div class="col-xs-4">
            <a href="{{ path('kiosk_review', {'id':kioskSession.id}) }}" class="btn btn-primary btn-lg btn-block">
                No
            </a>
        </div>
    </div>


{% endblock %}

{% block scan_help %}
    {# Overridden to not display #}
{% endblock %}
