{% extends 'base.html.twig' %}

{% block page_title %}Label Test Page{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Label Test</h3>
                </div>
                <div class="box-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}