{% extends 'base.html.twig' %}

{% block page_title %}Tecan to Specimen IDs{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Usage</h3>
                    </div>
                    <div class="box-body">
                        <p>Upload Tecan tab-delimited file containing Tube Accession IDs.</p>
                        <p>This upload accomplishes two things:</p>
                        <ol>
                            <li>Import Well Plate and Position information for Specimens into COVIDTrack</li>
                            <li>Transform Tube Accession IDs into Specimen Accession IDs and allow downloading the updated version</li>
                        </ol>
                    </div>
                </div>

                {% if errors|length > 0 %}
                <div class="box box-solid box-danger">
                    <div class="box-header">
                        <h3 class="box-title">Conversion Errors</h3>
                    </div>
                    <div class="box-body">
                        Could not complete conversion:

                        <ul>
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}

                {{ form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
