{% extends 'base.html.twig' %}

{% block page_title %}Tubes{% endblock %}

{% block body %}

<div class="row margin-bottom">
    <div class="col-md-12">
        <div class="pull-left">
            {{ form_start(filterForm) }}
                {{ form_row(filterForm.status) }}
                <button type="submit" class="btn btn-primary"><i class="fas fa-fw fa-filter"></i> Filter</button>
            {{ form_end(filterForm) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                {% include('tube/tube-list-table.html.twig') %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
