{% extends 'base.html.twig' %}

{% block page_title %}
    {% if user.id %} Edit User {{ user.username }} {% else %} New User {% endif %}
{% endblock %}

{% block body %}
    <div class="alert alert-warning" role="alert">
        <b>Warning:</b> Changing a user's permissions will log them out!
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Properties</h3>
                </div>
                <div class="box-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Actions</h3>
                </div>
                <div class="box-body">
                    {% if not user.ldapUser %}
                        <a href="{{ path("user_change_password", { username: user.username }) }}" class="btn btn-default" role="button"><i class="fa fa-lock"></i> Change Password</a>
                    {% endif %}
                </div>
            </div>

            <div class="box">
                <div class="box-body">
                    <dl>
                        <dt>Last Logged In</dt>
                        <dd>
                            {% if user.hasLoggedIn %}
                                {{ user.lastLoggedInAt|date('m/d/Y g:ia') }}
                            {% else %}
                                -- Never Logged In --
                            {% endif %}
                        </dd>
                    </dl>

                    {% include 'audit-history.html.twig' with {auditLogs: auditLogs} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
