{# Search for DEPENDS_ON_AVAILABLE_ROLES for other locations that depend on these permissions #}
<table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th class="text-center bg-gray">System Admin</th>
        <th class="text-center">Kiosk Access</th>
        <th colspan="2" class="text-center bg-gray">Participant Groups</th>
        <th colspan="2" class="text-center">Specimens</th>
        <th colspan="2" class="text-center bg-gray">Results</th>
        <th colspan="2" class="text-center">Well Plates</th>
        <th colspan="2" class="text-center bg-gray">Print</th>
        <th colspan="2" class="text-center">Notifications</th>
    </tr>
    <tr>
        <th>Username</th>
        <th>Display Name</th>
        <th class="bg-gray">&nbsp;{# System Admin #}</th>
        <th>&nbsp;{# Kiosk UI #}</th>
        {# Participant Groups #}
        <th class="text-center bg-gray">Edit</th>
        <th class="text-center bg-gray">View</th>
        {# Specimens #}
        <th class="text-center">Drop Off</th>
        <th class="text-center">Check In</th>
        {# Results #}
        <th class="text-center bg-gray">Upload and Edit</th>
        <th class="text-center bg-gray">View</th>
        {# Well Plates #}
        <th class="text-center">Edit</th>
        <th class="text-center">View</th>
        {# Print #}
        <th class="text-center bg-gray">Tube Labels</th>
        <th class="text-center bg-gray">Group Labels</th>
        {# Notifications #}
        <th class="text-center">Viral Results</th>
        <th class="text-center">Antibody Results</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>
                <a href="{{ path('user_edit', {username: user.username}) }}">{{ user.username}}</a>
            </td>
            <td>{{ user.displayName }}</td>
            {# System Admin #}
            <td class="text-center bg-gray">{% if 'ROLE_ADMIN' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            {# Kiosk UI #}
            <td class="text-center">{% if 'ROLE_KIOSK_UI' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            {# Participant Groups #}
            <td class="text-center bg-gray">{% if 'ROLE_PARTICIPANT_GROUP_EDIT' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            <td class="text-center bg-gray">{% if 'ROLE_PARTICIPANT_GROUP_VIEW' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            {# Specimens #}
            <td class="text-center">{% if 'ROLE_SPECIMEN_DROP_OFF' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            <td class="text-center">{% if 'ROLE_TUBE_CHECK_IN' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            {# Results #}
            <td class="text-center bg-gray">{% if 'ROLE_RESULTS_EDIT' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            <td class="text-center bg-gray">{% if 'ROLE_RESULTS_VIEW' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            {# Well Plates #}
            <td class="text-center">{% if 'ROLE_WELL_PLATE_EDIT' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            <td class="text-center">{% if 'ROLE_WELL_PLATE_VIEW' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            {# Print #}
            <td class="text-center bg-gray">{% if 'ROLE_PRINT_TUBE_LABELS' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            <td class="text-center bg-gray">{% if 'ROLE_PRINT_GROUP_LABELS' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            {# Notifications #}
            <td class="text-center">{% if 'ROLE_NOTIFY_ABOUT_VIRAL_RESULTS' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
            <td class="text-center">{% if 'ROLE_NOTIFY_ABOUT_ANTIBODY_RESULTS' in rolesByUser[user.username] %}<i class="fa fa-check-square text-green"></i>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
